<footer class="bs-footer" role="contentinfo">
  <div class="container">

    <p class="footer-text-right">Made with <a href="https://github.com/assemble/assemble" target="_blank">Assemble</a></p>
    {{#if production}}
      {{> social-buttons }}
    {{/if}}
</footer>

<!-- "back-to-top" button -->
<a href="#" style="right: 70px;" class="btn back-to-top btn-dark btn-fixed-bottom"> <i class="glyphicon glyphicon-chevron-up"/> </a>
