---
layout: default.hbs
---
<div class="row">
  <div class="col-md-9 content" role="main">
    {{! wrapped with 'wordcount' for wordcount plugin }}
    <div class="main-content wordcount">
      {{> body }}
    </div>
  </div>
</div>
